@model TheRooms.ViewModels.RoomViewModel
@{
    var prev = TempData["PreviousRoom"];
    var current = TempData["CurrentRoom"];
    if (current != null)
    {
        int currentRoom = Convert.ToInt32(current);
        if (currentRoom != Model.Id)
        {
            TempData["PreviousRoom"] = current;
            TempData["CurrentRoom"] = Model.Id;
        }
    }
    else
    {
        TempData["PreviousRoom"] = Model.Id;
        TempData["CurrentRoom"] = Model.Id;
    }
}

<form method="POST">
    <div class="container text-center" style="max-width: 600px">

        <br /><br />
        <div class="well well-lg">
            @foreach (var door in Model.InDoors)
            {
                <a href="~/rooms/@door.RoomId" class="btn btn-default">@door.RoomId</a>
            }
            <br /><br />
            <div class="row">
                <h4>
                    Комната №@Model.Id. @Model.Name
                </h4>
            </div>
            @if (!Model.IsCompleted)
            {
                <div class="row">
                    <h3 style="color:darkblue">
                        @Model.Task
                    </h3>
                </div>
                <br /><br />

                <div class="row">
                    <div class="input-group">
                        <input type="text" name="answer" autofocus="" class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </span>
                    </div>
                </div>
            }
            <br /><br /><br /><br /><br /><br />


            @Model.Reaction

            @if (Model.IsCompleted)
            {
                foreach (var door in Model.OutDoors)
                {
                    <a href="~/rooms/@door.RoomId" class="btn btn-default">@door.RoomId</a>
                }
                if (Model.OutDoors.Count == 0)
                {
                    <h4>
                        Стена без дверей
                    </h4>
                }
            }
            else
            {
                <h4>
                    Пройдите комнату, чтобы увидеть противоположную стену
                </h4>
            }
        </div>
    </div>
</form>